@inherits Masa.Workflow.ActivityCore.ActivityNode<SwitchMeta, SwitchActivityMeta>

@base.BuildRenderTree

@code {

    protected override void DrawerContent(RenderTreeBuilder __builder)
    {
        <MTextField @bind-Value="FormModel.Property"
                    Label="Name"
                    Disabled
                    Dense
                    Outlined
                    Prefix="Msg."
                    HideDetails="@("auto")" />
        <OutlineCard Title="i18n.rules">
            @foreach (var rule in FormModel.MetaData.Rules)
            {
                <div class="white-color item">@rule.Key, @rule.Value</div>
            }

            <div class="white-color item">item1.1</div>
            <MButton Outlined Block OnClick="AddNewRule">i18n.new-rule</MButton>
        </OutlineCard>

        <EnumSelect @bind-Value="FormModel.MetaData.EnforceRule" TValue="EnforceRule" Clearable=false Label="EnforceRule" />
    }

    private void AddNewRule()
    {
        FormModel.MetaData.Rules.Add(new KeyValuePair<Operator, object>(default, default));
        FormModel.Output++;
    }

}
