/* activity node */

.mw-activity-node {
  align-items: stretch;
  border-radius: 8px;
  cursor: move;
  display: flex;
  height: 100%;
  min-height: 40px;
  user-select: none;
  width: 100%;
}

.mw-activity-node--inactive {
  opacity: 0.5;
  border-style: dashed;
  border-width: thin;
}

.mw-activity-node--right {
  flex-direction: row-reverse;
}

.mw-activity-node__icon {
  background-color: rgb(0 0 0 / 5%);
  border-radius: 8px 0 0 8px;
  text-align: center;
  width: 56px;
}

.mw-activity-node--right .mw-activity-node__icon {
  border-radius: 0 8px 8px 0;
}

.mw-activity-node__icon .m-icon {
  height: 100%;
}

.mw-activity-node__name {
  text-align: center;
  width: 146px;
  margin: auto 0;
}

.mw-activity-node-state {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 12px;
  margin: 4px 16px;
  display: flex;
  align-items: center;
}
