/* activity node */

.mw-activity-node {
  align-items: center;
  border-radius: 8px;
  cursor: move;
  display: flex;
  height: 40px;
  line-height: 40px;
  user-select: none;
  width: 100%;
}

.mw-activity-node__icon {
  background-color: rgb(0 0 0 / 5%);
  text-align: center;
  width: 56px;
  border-radius: 8px 0 0 8px;
}

.mw-activity-node__icon.mw-activity-node__right {
  border-radius: 0 8px 8px 0;
}

.mw-activity-node__icon .m-icon {
  line-height: 40px;
}

.mw-activity-node__name {
  text-align: center;
  width: 146px;
}
