/* remove this after using stack.components*/
.m-application.theme--light {
  background-color: #f0f3fa;
}

/*TODO: padding and width 影响了import时的连接线位置 */
.drawflow .drawflow-node {
  background: none;
  padding: 0;
  border: none;
  width: auto;
}

.drawflow .drawflow-node.selected {
  background: none;
}

.drawflow .drawflow-node.selected .mw-activity-node {
  box-shadow: 0 0 4px 1px #4f34fa;
}

.drawflow .drawflow-node .drawflow_content_node {
  align-self: stretch;
}

/* flow */
.mw-flow {
  display: flex;
}

.mw-flow__nodes {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
}

.mw-flow__nodes .m-expansion-panel-header {
  background-color: #F6F8FD;
  border-radius: 12px;
  padding: 0 24px !important;
  margin-bottom: 8px;
}

.mw-flow__nodes .m-expansion-panel--active > .m-expansion-panel-header {
  min-height: 56px;
}

.mw-flow__nodes .m-expansion-panel-content__wrap {
  padding: 0;
}

.mw-flow__sidebar {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
}

.mw-flow__sidebar .m-window {
  height: calc(100% - 48px);
}

.mw-flow__sidebar .m-window__container {
  height: 100%;
}

.mw-flow__node-attr .header {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 8px 0;
}

.mw-flow__workspace {
  border-radius: 24px;
  margin: 0 16px;
  width: 100%;
}

.mw-flow__workspace .m-drawflow {
  background: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
  background-color: white;
  background-size: 24px 24px;
  border-radius: 24px;
  height: calc(100vh - 124px);
}

.mw-flow__workspace .inputs>.input, .mw-flow__workspace .outputs>.output {
  height: 12px;
  margin-bottom: 4px;
  width: 12px;
  left: -6px;
  top: 2px;
}
