/* remove this after using stack.components*/
.m-application.theme--light {
  background-color: #f0f3fa;
}

/*TODO: padding and width 影响了import时的连接线位置 */
.drawflow .drawflow-node {
  background: none;
  padding: 0;
  border: none;
  width: auto;
}

.drawflow .drawflow-node.selected {
  background: none;
}

.drawflow .drawflow-node.selected .mw-activity-node {
  box-shadow: 0 0 4px 1px #4f34fa;
}

.drawflow .drawflow-node .drawflow_content_node {
  align-self: stretch;
}

/* flow header */
.mw-flow__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.mw-flow__header .m-btn {
  margin-right: 8px;
}

.mw-flow__header .m-btn:last-child {
  margin-right: 0;
}

/* flow */
.mw-flow {
  display: flex;
  height: calc(100vh - 140px);
}

.mw-flow__nodes {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
}

.mw-flow__nodes .m-expansion-panel-header {
  background-color: #F6F8FD;
  border-radius: 12px;
  padding: 0 24px !important;
  margin-bottom: 8px;
}

.mw-flow__nodes .m-expansion-panel--active > .m-expansion-panel-header {
  min-height: 56px;
}

.mw-flow__nodes .m-expansion-panel-content {
  display: block;
}

.mw-flow__nodes .m-expansion-panel-content__wrap {
  padding: 0;
}

.mw-flow__nodes .mw-activity-node--draggable {
  margin-bottom: 8px;
}

.mw-flow__nodes .mw-activity-node--draggable:last-child {
  margin-bottom: 0;
}

.mw-flow__sidebar {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
}

.mw-flow__sidebar .m-window {
  height: calc(100% - 48px);
}

.mw-flow__sidebar .m-window__container, .mw-flow__sidebar .m-window-item {
  height: 100%;
}

.mw-flow__node-attr .header {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 8px 0;
}

.mw-flow__workspace {
  border-radius: 24px;
  margin: 0 16px;
  width: 100%;
}

.mw-flow__workspace .m-drawflow {
  background: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
  background-color: white;
  background-size: 24px 24px;
  border-radius: 24px;
  height: 100%;
}

.mw-flow__workspace .inputs > .input, .mw-flow__workspace .outputs > .output {
  height: 12px;
  margin-bottom: 4px;
  width: 12px;
  left: -6px;
  top: 2px;
}

/* flow debugging */

.mw-flow__debugging {
  padding: 8px 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.mw-flow__debugging-item {
}

.mw-flow__debugging-log {
  font-size: 14px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 21px;
  word-break: break-all !important;
}

.mw-flow__debugging-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mw-flow__debugging-detail {
  min-height: 500px;
}

.mw-flow__debugging-detail .m-code-highlight__code {
  font-size: 14px;
  white-space: break-spaces;
  word-break: break-word;
}
